

body {
  background-color: black;
}


.container {
  font-size: 100px;
  font-weight: bold;
  color: white;
  margin-top: 300px;
  margin-left: 500px;


}

.hours {
  float: left;
  font-family: 'Titillium Web', sans-serif;
}

.mins {
float: left;
}

.secound {
  float: left;
}
